html,
body {
  height: 100%;
  min-height: calc(100% - 0px);
}
body {
  font-size: $base-font-size;
  font-family: $base-font;
  color: $base-font-color;
  line-height: $base-line-height;
  margin: 0;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    url('../images/hindu-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
a {
  color: $base-link-color;
  text-decoration: none;
}
a:hover,
a:focus {
  color: lighten($brown, 30);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: $headline-font;
  letter-spacing: 1px;
}
button {
  font-family: $base-font;
  font-weight: 600;
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid lighten($orange, 20);
  margin: 2em 0;
  padding: 0;
}
small {
  line-height: 1.4;
}
.main-main {
  position: relative;
  height: 100%;
  @media (min-width: $breakpoint) {
    max-width: $breakpoint-large;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    .character-container {
      position: relative;
      height: 100%;
      .character {
        position: absolute;
        height: 100%;
        width: 90%;
        left: 10%;
      }
    }
  }
}
.info-box {
  background-image: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95));
  background-repeat: no-repeat;
  border-style: double;
  border-width: 10px;
  position: relative;
  padding: 1em 1.3em 1em 1.3em;
  border-color: rgba(255, 255, 255, 0.95);
  article {
    margin: 0 0 1em 0;
    .scrolled {
      margin-right: 14px;
    }
  }
  .button-container {
    display: flex;
    justify-content: center;
  }
  p {
    margin: 0 0 1em 0;
    text-align: left;
    padding-left: 3px;
  }
  .last-para {
    margin: 0 0 0.5em 0;
  }
  .no-margin {
    margin: 0;
  }
}
.hidden {
  opacity: 0.5;
}
.nav-btn .btn {
  font-family: 'Fontello';
  font-style: normal;
  font-weight: normal;
  margin-right: 0.5em;
}
.illustration {
  margin: 1em 0 0.5em 0;
}
