/**
 * Obvious Buttons 0.1
 * https://github.com/skidding/obvious-buttons
 *
 * (c) 2014+ Ovidiu Cherecheș
 * http://skidding.mit-license.org
 */

.btn {
  // Add .btn-inline class for inline-block display
  display: block;
  text-align: center;
  cursor: pointer;
  border: none;
  border-width: 0;
  border-color: transparent;
  height: $btn-height;
  // Fine-tuned to look match font size
  padding: 0 $btn-font-size - 4;
  border-radius: $btn-depth + 2;
  // Make button look 3D by giving a thicker border at the bottom
  box-shadow: inset 0 -4px rgba(0, 0, 0, 0.2);
  font-size: $btn-font-size;
  line-height: $btn-height - $btn-depth;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  background: $btn-background;
  color: $btn-text;
  &.btn-smaller {
    height: $btn-smaller-height;
    // Fine-tuned to look match font size
    padding: 0 $btn-smaller-font-size - 4;
    border-radius: $btn-smaller-depth + 2;
    // Make button look 3D by giving a thicker border at the bottom
    box-shadow: inset 0 -4px rgba(0, 0, 0, 0.2);
    font-size: $btn-smaller-font-size;
    line-height: $btn-smaller-height - $btn-smaller-depth;
    span {
      bottom: 1px;
    }
  }
  span {
    // We need this extra span because there's a WebKit bug that sometimes
    // misses click events when the text inside a the element moves between
    // mousedown and mouseup: http://stackoverflow.com/q/15679787/128816
    pointer-events: none;
    position: relative;
    bottom: 2px;
  }
}

.btn:hover,
.btn:focus {
  background: darken($btn-background, 8%);
  color: $btn-text;
}
.btn:hover {
  text-decoration: none;
}
.btn:focus {
  text-decoration: none;
  outline: none;
}
.btn:active {
  // Remove excess of bottom border when clicking on the button in order to
  // make it seem like it's physically pressed
  box-shadow: none !important;
  span {
    bottom: 0;
  }
}

.btn-inline {
  display: inline-block;
  vertical-align: middle;
}
