.contact {
  margin-right: 0.5em;
  ul {
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
  }
  .my-info {
    margin-bottom: 2em;
  }
  .social-media {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    svg {
      width: 2em;
      height: 2em;
      margin-right: 0.5em;
    }
    #linkedin,
    #behance,
    #gitlab {
      fill: lighten($orange, 20);
    }
    a svg:hover #linkedin,
    a svg:hover #behance,
    a svg:hover #gitlab {
      fill: $orange;
    }
  }
  @media (min-width: $breakpoint) {
    .social-media svg {
      margin-right: 0;
      margin-left: 0.5em;
    }
    .my-info,
    .attribution {
      display: flex;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        text-align: right;
      }
    }
  }
}
