.drawer-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  .drawer-bounds {
    position: absolute;
    top: 0;
    left: 30vw;
    width: 120vw;
    height: 100%;
  }
  @media (min-width: $breakpoint) {
    position: relative;
    width: 100%;
    overflow: visible;
    .drawer-bounds {
      left: 0;
      width: 100%;
    }
  }
}
.drawer {
  position: absolute;
  z-index: 2;
  width: calc(70vw + 8px);
  height: calc(100% - 8px);
  opacity: 0;
  background-color: $brown;
  border: $orange;
  border-style: outset;
  border-width: 4px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  div {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    svg {
      stroke: $orange;
      width: 50%;
      margin-left: 15%;
    }
  }
  @media (min-width: $breakpoint) {
    display: none;
  }
}
.item-container {
  position: absolute;
  z-index: 3;
  width: calc(70vw + 8px);
  height: calc(100% - 8px);
  top: 0;
  left: 0;
  background-color: $brown;
  border: $orange;
  border-style: outset;
  border-width: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  @media (min-width: $breakpoint) {
    position: absolute;
    width: 90%;
    top: auto;
    left: 0;
    height: auto;
    bottom: 7vw;
    @media (min-width: $breakpoint-large) {
      bottom: calc(#{$breakpoint-large} * 0.07);
    }
    // transform: translateY(5vh);
  }
  .draggable-handle {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    svg {
      stroke: $orange;
      width: 50%;
      margin-left: 15%;
    }
    @media (min-width: $breakpoint) {
      display: none;
    }
  }
  .draggables-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    width: calc(85% - 5vw);
    min-height: 0;
    min-width: 0;
    height: calc(100% - 10vw);
    margin: 5vw 5vw 5vw 0;
    @media (min-width: $breakpoint) {
      margin: 2vw;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
      height: 30vw;
      @media (min-width: $breakpoint-large) {
        height: calc(#{$breakpoint-large} * 0.3);
      }
      width: 100%;
    }
  }
}
.item {
  background-repeat: no-repeat;
  background-size: fill;
  background-position-x: center;
  width: 100%;
  height: 100%;
}
.attr-snake.item {
  background-image: url('../images/snake.svg');
}
.attr-trident.item {
  background-image: url('../images/trident.svg');
}
.attr-axe.item {
  background-image: url('../images/axe.svg');
}
.attr-bowl.item {
  background-image: url('../images/bowl.svg');
}
.attr-chakra.item {
  background-image: url('../images/chakra.svg');
}
.attr-club.item {
  background-image: url('../images/club.svg');
}
.attr-lotus.item {
  background-image: url('../images/lotus.svg');
}
.attr-shell.item {
  background-image: url('../images/shell.svg');
}
.attr-drum.item {
  background-image: url('../images/drum.svg');
}
.attr-rope.item {
  background-image: url('../images/rope.svg');
}
.attr-money.item {
  background-image: url('../images/money.svg');
}
.attr-skull.item {
  background-image: url('../images/skull.svg');
}
