.god-style {
  position: absolute;
  bottom: 8vw;
  @media (min-width: $breakpoint) {
    bottom: 2vw;
  }
  @media (min-width: $breakpoint-large) {
    bottom: calc(#{$breakpoint-large}*0.02);
  }
}

.ganesha-style {
  position: absolute;
  bottom: 12vw;
  right: 0;
  @media (min-width: $breakpoint) {
    bottom: 4vw;
  }
  @media (min-width: $breakpoint-large) {
    bottom: calc(#{$breakpoint-large}*0.04);
  }
}

.godess-style {
  position: absolute;
  bottom: 10vw;
  @media (min-width: $breakpoint) {
    bottom: 3.5vw;
  }
  @media (min-width: $breakpoint-large) {
    bottom: calc(#{$breakpoint-large}*0.035);
  }
}

.hill-style {
  width: 100vw;
  height: 0;
  padding-top: 34%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url('../images/hill.png');
  background-size: 110%;
  background-position-x: 115%;
  background-position-y: 100%;
  background-repeat: no-repeat;
  @media (min-width: $breakpoint) {
    width: 117%;
    background-size: 100%;
    left: -15%;
    background-position-y: 15%;
  }
}

.godess-hill-style {
  width: 100vw;
  height: 0;
  padding-top: 34%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url('../images/hill.png');
  background-size: 110%;
  background-position-x: 105%;
  background-position-y: 49%;
  background-repeat: no-repeat;
  @media (min-width: $breakpoint) {
    width: 110%;
    background-size: 100%;
    left: -11%;
    background-position-y: -30%;
  }
}
