.main-main {
  .info-container {
    height: calc(100% - 4em - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    z-index: 100;
    left: 5vw;
    width: 80vw;
    @media (min-width: $breakpoint) {
      left: 0;
      width: 100vw;
    }
    @media (min-width: $breakpoint-large) {
      width: $breakpoint-large;
    }
  }
  .info-box {
    max-height: calc(100% - 10vw - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: $breakpoint) {
      width: 400px;
      min-height: 300px;
    }

    article {
      height: calc(100vh - 10vw - 100px - 8em);
      @media (min-width: $breakpoint) {
        height: auto;
        max-height: calc(100vh - 10vw - 100px - 8em);
      }
      .attr-pic-container {
        height: 100px;
        width: 100px;
        margin: 0 auto 1em auto;
      }
    }
    article.attr-info {
      @media (min-width: $breakpoint) {
        width: 80%;
        margin: 0 auto 1em auto;
      }
    }
  }
}
