.loader {
  width: 100vw;
  height: 100%;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 380px;
  svg {
    animation: spinner 4s infinite linear, reveal 1s;
  }
}
@keyframes spinner {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
