.navigation {
  position: absolute;
  z-index: 1;
  left: 5vw;
  width: 80vw;
  margin-top: 1em;
  @media (min-width: $breakpoint) {
    width: 90vw;
  }
  @media (min-width: $breakpoint-large) {
    width: calc(#{$breakpoint-large}*0.9);
  }
  h1 {
    margin-top: 0.5em;
    margin-bottom: 0.25em;
    font-size: 2em;
  }
  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    .btn {
      margin-right: 0.5em;
      font-family: 'Fontello';
      font-style: normal;
      font-weight: normal;
      .wider-button {
        padding: 0 2px;
      }
    }
  }
  @media (min-width: $breakpoint) {
    position: relative;
    z-index: 10;
  }
}
