.track-vertical {
  border-radius: 7px;
  background: lighten($orange, 20);
  top: 0;
  right: 0;
  border: solid;
  border-width: 2px;
  border-color: lighten($orange, 20);
  visibility: hidden;
}
.thumb-vertical {
  border-radius: 7px;
  background: white;
}

::-webkit-scrollbar {
  min-width: 1px;
  min-height: 1px;
}
