.start-page {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  .start-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    background-color: $white;
    @media (min-width: $breakpoint) {
      position: relative;
      top: 15vh;
      width: 80vh;
      height: 70vh;
      margin: 0 auto;
    }
    .medal-section {
      position: absolute;
      top: 0;
      width: 100%;
      .medal-container {
        width: 100%;
        height: 100%;
        a {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: flex-start;
          justify-content: flex-end;
        }
        #medal {
          width: 35%;
          margin: 0.5em;
          fill-opacity: 0.9;
        }
        @media (min-width: $breakpoint) {
          &:nth-child(1) {
            &:hover {
              background-color: darken($light-green, 30%);
              opacity: 0.5;
              background-blend-mode: color-dodge;
            }
          }
          &:nth-child(2) {
            &:hover {
              background-color: darken($light-purple, 20%);
              opacity: 0.5;
              background-blend-mode: color-dodge;
            }
          }
          &:nth-child(3) {
            &:hover {
              background-color: darken($light-blue, 30%);
              opacity: 0.5;
              background-blend-mode: color-dodge;
            }
          }
          &:nth-child(4) {
            &:hover {
              background-color: darken($light-pink, 30%);
              opacity: 0.5;
              background-blend-mode: color-dodge;
            }
          }
          &:nth-child(5) {
            &:hover {
              background-color: darken($light-orange, 30%);
              opacity: 0.5;
              background-blend-mode: color-dodge;
            }
          }
          &:nth-child(6) {
            &:hover {
              background-color: darken($light-yellow, 30%);
              opacity: 0.5;
              background-blend-mode: color-dodge;
            }
          }
        }
      }
    }
    section {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      @media (min-width: $breakpoint) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
      }
      height: 100%;
      overflow: hidden;
      min-height: 0;
      min-width: 0;
      article {
        overflow: hidden;
        min-width: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        .portrait {
          position: relative;
          bottom: -20vh;
          width: 138vw;
          left: 6.15vw;
          @media (min-width: $breakpoint) {
            bottom: -19vh;
            width: 81vh;
            left: 3.4vh;
          }
        }
      }
    }
    .character-section {
      .shiva-article,
      .ganesha-article,
      .vishnu-article {
        .portrait {
          left: 7.4vw;
          @media (min-width: $breakpoint) {
            left: 4.3vh;
          }
        }
      }
      .ganesha-article {
        .portrait {
          bottom: -16vh;
          width: 145vw;
          @media (min-width: $breakpoint) {
            bottom: -16.2vh;
            width: 85vh;
          }
        }
      }
      article:nth-child(1) {
        background-color: $light-green;
      }
      article:nth-child(2) {
        background-color: $light-purple;
      }
      article:nth-child(3) {
        background-color: $light-blue;
      }
      article:nth-child(4) {
        background-color: $light-pink;
      }
      article:nth-child(5) {
        background-color: $light-orange;
      }
      article:nth-child(6) {
        background-color: $light-yellow;
      }
    }
  }
}
