.on-finished-god {
  position: absolute;
  top: 0;
  left: 0;
  width: 90vw;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (min-width: $breakpoint) {
    width: 100%;
    z-index: 10;
  }
  .logo-container {
    position: relative;
    width: 50%;
    top: -25vw;
    @media (min-width: $breakpoint) {
      width: 25vw;
      top: -12vw;
    }
    @media (min-width: $breakpoint-large) {
      width: calc(#{$breakpoint-large} * 0.25);
    }
    .logo {
      position: absolute;
      top: 0;
      fill: transparent;
      stroke: white;
      stroke-width: 2px;
    }
  }
  .info-box {
    position: absolute;
    z-index: 10;
    top: 0;
    div {
      text-align: center;
    }
    @media (min-width: $breakpoint) {
      width: 22vw;
      min-height: auto;
    }
    @media (min-width: $breakpoint-large) {
      width: calc(#{$breakpoint-large} * 0.22);
      padding: 2.5em 0 2.5em 0;
    }
  }
}
.success-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.on-finished-all {
  h1,
  h2,
  span p {
    text-align: center;
  }
  h1 {
    font-size: 2em;
    margin-top: 0.5em;
  }
  .success-text {
    display: none;
    svg {
      width: 100px;
      margin: 0 auto;
      display: block;
    }
  }
  #cup {
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    @media (min-width: $breakpoint) {
      max-width: 75%;
      min-width: 75%;
      max-height: 75%;
      min-height: 75%;
    }
    margin: 0 auto;
    display: block;
  }
  .attempts-container {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    span {
      width: 210px;
    }
    h2 {
      margin: 0;
      font-family: $base-font;
      color: $orange;
      font-weight: 800;
      font-style: italic;
      font-size: 2em;
    }
    span p {
      margin: 1em 0 0 0;
    }
  }
  margin: 5vw;
  width: 90vw;
  height: calc(100% - 20px - 10vw - 2em);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (min-width: $breakpoint) {
    margin: 0;
    width: 86vh;
    height: 74vh;
    article {
      margin: 0 1em 1em 1em;
    }
  }
}
