.title-page {
  height: 100%;
  .title-container {
    height: 100%;
    .navigation {
      margin-top: 0;
      top: 1em;
      position: relative;
    }
    @media (min-width: $breakpoint) {
      width: 90vw;
    }
    @media (min-width: $breakpoint-large) {
      width: calc(#{$breakpoint-large}* 0.9);
      margin: 0 auto;
    }
    .logo-container {
      height: calc(40% - 5vw);
      position: absolute;
      top: 5vw;
      left: 5vw;
      width: 90vw;
      display: flex;
      align-items: center;
      justify-content: center;
      .logo {
        height: 65%;
        fill: $brown;
      }
    }
    .infobox-container {
      height: calc(60% - 5vw);
      position: absolute;
      top: 40%;
      left: 5vw;
      width: 90vw;
      display: flex;
      align-items: center;
      justify-content: center;
      .info-box {
        @media (min-width: $breakpoint) {
          max-width: 600px;
        }
        article {
          height: calc(60vh - 5vw - 70px - 3em);
          @media (min-width: $breakpoint) {
            height: auto;
            max-height: calc(60vh - 5vw - 70px - 3em);
          }
        }
        .button-container {
          text-align: center;
        }
      }
    }
  }
}
