// Fonts
$base-font: 'Open Sans', Helvetica, Arial, sans-serif;
$headline-font: 'Fjalla One', Helvetica, Arial, sans-serif;
$base-font-size: 20px;
$base-line-height: 1.2;

@font-face {
  font-family: 'Fontello';
  src: url('../fonts/fontello.woff2') format('woff2'), url('/fonts/fontello.woff') format('woff');
}

// Colors
$black: #000;
$white: #fff;
$brown: rgb(71, 14, 0);
$orange: rgb(255, 87, 52);
$pink: rgb(252, 107, 173);

$light-green: #b1ffe4;
$light-pink: #ffbdcd;
$light-orange: #ffd3ae;
$light-blue: #bcedfd;
$light-purple: #f0c6ff;
$light-yellow: #fff39f;

$base-font-color: $brown;
$base-link-color: $orange;

// Buttons
$btn-background: $orange;
$btn-text: $white;
$btn-height: 50px;
$btn-depth: 4px;
$btn-font-size: 22px;
$btn-smaller-height: 40px;
$btn-smaller-depth: 3px;
$btn-smaller-font-size: 18px;

// Mediaqueries
$breakpoint: 769px;
$breakpoint-large: 1800px;
